<section class="hero is-medium">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-10 is-offset-1">

                <mat-card class="example-card">
                    <div style="margin-left: 15%; margin-right: 15%;">
                        <br>
                        <h1>Trenutna količina &nbsp; = &nbsp; <b>{{product.quantity}}</b></h1>
                        <mat-card-content style="margin-left: 1%; margin-right: 1%;">
                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Dodaj količinu</mat-label>
                                <input type="number" matInput placeholder="kolicina" [(ngModel)]="quantity" min="1" required>
                            </mat-form-field>
                        </mat-card-content>
                        <div style="text-align: center;">
                            <button mat-raised-button color="primary" (click)="updateQuantity()">
                                Dodaj količinu
                            </button>
                        </div>
                    </div>
                </mat-card><br>

                <mat-card class="example-card">
                    <div style="margin-left: 15%; margin-right: 15%;">
                        <br>
                        <mat-card-content style="margin-left: 1%; margin-right: 1%;">
                            <br>
                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Naziv</mat-label>
                                <input type="text" matInput placeholder="naziv" [(ngModel)]="product.name"
                                    [formControl]="nameForm" required>

                                <mat-error *ngIf="nameForm.invalid">{{getnameErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Cena</mat-label>
                                <input type="number" matInput placeholder="cena" [(ngModel)]="product.price"
                                    [formControl]="priceForm" required>

                                <mat-error *ngIf="priceForm.invalid">{{getpriceErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Kategorija</mat-label>
                                <input type="text" matInput placeholder="kategorija" [(ngModel)]="product.category"
                                    [formControl]="categoryForm" [matAutocomplete]="auto" required>
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let category of categories" [value]="category">
                                        {{category}}
                                    </mat-option>
                                </mat-autocomplete>

                                <mat-error *ngIf="categoryForm.invalid">{{getcategoryErrorMessage()}}</mat-error>
                            </mat-form-field>
                            <br />

                            <form [formGroup]="productForm">

                                <mat-list formArrayName="features">
                                    <mat-list-item style="height: fit-content; border-bottom: 3px; border-bottom-color: white; border-bottom-style: solid; padding: 2px; margin-bottom: 5px;">
                                        <div class="has-text-right">
                                            <h1>Opis</h1>
                                        </div>
                                        <span class="example-spacer"></span>
                                        <div class=" has-text-right">
                                            <button mat-raised-button color="accent"
                                                (click)="addFeature()">Dodaj</button>
                                        </div>
                                    </mat-list-item>
                                    <mat-list-item *ngFor="let quantity of features().controls; let i=index"
                                        [formGroupName]="i" style="height: fit-content; border-bottom: 1px; border-bottom-color: white; border-bottom-style: solid; padding: 2px; margin: 2px;">

                                        <div class="columns" style="width: 100%;">
                                            <div class="column">
                                                <mat-form-field appearance="legacy" style="width: 100%;">
                                                    <mat-label>Naziv karakteristike</mat-label>
                                                    <input type="text" matInput placeholder="Naziv karakteristike"
                                                        formControlName="featureName" [matAutocomplete]="auto">
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option *ngFor="let featureName of featureNames"
                                                            [value]="featureName">
                                                            {{featureName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="column">
                                                <mat-form-field class="example-chip-list" appearance="legacy">
                                                    <mat-label>karakteristike</mat-label>
                                                    <mat-chip-list #chipList aria-label="feature selection">
                                                        <mat-chip *ngFor="let feature of getFeature(i)"
                                                            (removed)="remove(feature, i)">
                                                            {{feature.name}}
                                                            <button matChipRemove>
                                                                <mat-icon>cancel</mat-icon>
                                                            </button>
                                                        </mat-chip>
                                                        <input matInput placeholder="karakteristike..."
                                                            [matChipInputFor]="chipList"
                                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                            [matChipInputAddOnBlur]="addOnBlur"
                                                            (matChipInputTokenEnd)="add($event, i)">
                                                    </mat-chip-list>
                                                </mat-form-field>
                                            </div>
                                            <div class="column is-one-quarter">
                                                <button (click)="removeFeature(i)" mat-raised-button
                                                    color="warn">Obriši</button>
                                            </div>
                                        </div>

                                    </mat-list-item>
                                </mat-list>

                            </form>

                            <br />

                            <div style="text-align: center;">
                                <button mat-raised-button color="primary" (click)="edit()"
                                    [disabled]="nameForm.invalid || priceForm.invalid || categoryForm.invalid">
                                    Izmeni proizvod
                                </button>
                            </div>
                        </mat-card-content>
                        <br>
                    </div>
                </mat-card>
                <br><br>
                <mat-card class="example-card">
                    <div style="margin-left: 15%; margin-right: 15%;">
                        <br>
                        <mat-card-content style="margin-left: 1%; margin-right: 1%;">
                            <mat-list>
                                <mat-list-item>
                                    <div class="has-text-right">
                                        <h1>Slike</h1>
                                    </div>
                                    <span class="example-spacer"></span>
                                    <div class=" has-text-right">
                                        <button mat-raised-button color="accent" (click)="fileInput.click()">Dodaj
                                            sliku</button>
                                        <input hidden (change)="uploadImage($event)" #fileInput type="file" id="file"
                                            accept=".jpg, .jpeg, .png">

                                    </div>
                                </mat-list-item><br>
                                <mat-list-item *ngFor="let image of images;" style="height: fit-content;">

                                    <div class="columns" style="width: 100%;">
                                        <div class="column">
                                            <img src="{{image.image}}" alt="Slika nije dostupna" />
                                        </div>
                                        <div class="column">

                                        </div>
                                        <div class="column is-one-quarter">
                                            <button mat-raised-button (click)="removeImage(image.id)"
                                                color="warn">Obriši sliku</button>
                                        </div>
                                    </div>
                                    <br>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>