<section class="hero is-medium">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-10 is-offset-1">

                <table class="table is-vcentered has-background-white-ter">
                    <tr>
                        <th class="th"></th>
                        <th class="th">Slika</th>
                        <th class="th">Naziv proizvoda</th>
                        <th class="th">Količina</th>
                        <th class="th">Jedinična cena</th>
                        <th class="th">Ukupna cena</th>
                    </tr>
                    <tr *ngFor="let product of products">
                        <td>{{product.index + 1}}</td>
                        <td><a [routerLink]="['../product', product.id]">
                            <div style="width: 10vh; height: 10vh;"><img
                                    src="{{'data:image/jpg;base64,' + product.image}}" alt="Slika nije dostupna"></div></a>
                        </td>
                        <td>{{product.name}}</td>
                        <td><input matInput type="number" [(ngModel)]="product.itemQuantity" min="1" (change)="changeQuantity(product)"></td>
                        <td>{{product.price | number:'0.2-2'}} RSD</td>
                        <td>{{product.itemQuantity * product.price | number:'0.2-2'}} RSD</td>
                    </tr>
                    <tr><br></tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th>Ukupno</th>
                        <td>{{price() | number:'0.2-2'}} RSD</td>
                    </tr>
                </table>
                <div style="text-align: right;">
                    <button mat-raised-button color="primary" [routerLink]="['../buyer-info']">
                        Poruči
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>