<section class="hero is-medium">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-10 is-offset-1">
                <div class="mat-spinner" *ngIf="showLoadingIcon">
                    <mat-spinner color="accent" [diameter]="150"></mat-spinner>
                </div>
                <table class="table is-vcentered has-background-white-ter">
                    <tr>
                        <th class="th"></th>
                        <th class="th">Slika</th>
                        <th class="th">Naziv proizvoda</th>
                        <th class="th">Količina</th>
                        <th class="th">Jedinična cena</th>
                        <th class="th">Ukupna cena</th>
                    </tr>
                    <tr *ngFor="let product of products">
                        <td style="vertical-align: middle;">{{product.index + 1}}</td>
                        <td style="vertical-align: middle;"><a [routerLink]="['../product', product.id]">
                                <div style="width: 10vh; height: 10vh;"><img
                                        src="{{'data:image/jpg;base64,' + product.image}}" alt="Image not available">
                                </div>
                            </a>
                        </td>
                        <td style="vertical-align: middle;">{{product.name}}</td>
                        <td style="vertical-align: middle;">{{product.itemQuantity}}</td>
                        <td style="vertical-align: middle;">{{product.price | number:'0.2-2'}} RSD</td>
                        <td style="vertical-align: middle;">{{product.itemQuantity * product.price | number:'0.2-2'}}
                            RSD</td>
                    </tr>
                    <tr><br></tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th>Ukupno</th>
                        <td>{{price() | number:'0.2-2'}} RSD</td>
                    </tr>
                </table>
                <br><br>
                <mat-card class="example-card">
                    <div style="margin-left: 15%; margin-right: 15%;">
                        <br>
                        <mat-card-content style="margin-left: 1%; margin-right: 1%;">
                            <br><label>Podaci o kupcu</label><br>
                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Ime</mat-label>
                                <input type="text" matInput placeholder="name" [(ngModel)]="buyer.name"
                                    [formControl]="nameForm" required>

                                <mat-error *ngIf="nameForm.invalid">{{getNameErrorMessage()}}</mat-error>


                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Prezime</mat-label>
                                <input type="text" matInput placeholder="surname" [(ngModel)]="buyer.surname"
                                    [formControl]="surnameForm" required>

                                <mat-error *ngIf="surnameForm.invalid">{{getSurnameErrorMessage()}}</mat-error>



                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Email</mat-label>
                                <input type="text" matInput placeholder="email" [(ngModel)]="buyer.email"
                                    [formControl]="emailForm" required>

                                <mat-error *ngIf="emailForm.invalid">{{getEmailErrorMessage()}}</mat-error>


                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Broj telefona</mat-label>
                                <input type="text" matInput placeholder="phoneNumber" [(ngModel)]="buyer.phoneNumber"
                                    [formControl]="phoneNumberForm" required>

                                <mat-error *ngIf="phoneNumberForm.invalid">{{getPhoneErrorMessage()}}</mat-error>


                            </mat-form-field>
                            <br><br>
                            <label>Adresa</label><br>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Ulica i broj</mat-label>
                                <input type="text" matInput placeholder="streetAndNumber"
                                    [(ngModel)]="buyer.streetAndNumber" [formControl]="streetAndNumberForm" required>

                                <mat-error *ngIf="streetAndNumberForm.invalid">{{getStreetErrorMessage()}}</mat-error>


                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Poštanski broj</mat-label>
                                <input type="text" matInput placeholder="postalCode" [(ngModel)]="buyer.postalCode"
                                    [formControl]="postalCodeForm" required>

                                <mat-error *ngIf="postalCodeForm.invalid">{{getPostalErrorMessage()}}</mat-error>



                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Grad / Mesto</mat-label>
                                <input type="text" matInput placeholder="city" [(ngModel)]="buyer.city"
                                    [formControl]="cityForm" required>

                                <mat-error *ngIf="cityForm.invalid">{{getCityErrorMessage()}}</mat-error>


                            </mat-form-field>
                            <br><br><br>
                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Napomena</mat-label>
                                <textarea matInput placeholder="note" [(ngModel)]="buyer.note"></textarea>
                            </mat-form-field>

                            <br>
                            <div style="text-align: center;">
                                <button mat-raised-button color="primary" (click)="sendOrder()"
                                    [disabled]="showLoadingIcon || nameForm.invalid || surnameForm.invalid || emailForm.invalid || phoneNumberForm.invalid || postalCodeForm.invalid || streetAndNumberForm.invalid || cityForm.invalid">
                                    Pošalji porudžbinu
                                </button>
                            </div>
                        </mat-card-content>
                        <br>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>